body {
    display: flex;
    flex-direction: column;
    padding-bottom: 3.2rem;
}

body>* {
    width: 100%;
}

header {
    font-size: 6rem;
    color: var(--color-tertiary);
    padding: 0.5rem 1rem 0.5rem 1rem;
    user-select: none;
}

.navigation__list {
    list-style: none;
    display: flex;
    width: 100%;
    border-bottom: 0.5rem solid var(--color-secondary);
    justify-content: flex-start;
}

.navigation__list__element {
    padding: 0 2rem;
    font-size: 2rem;
}

.navigation__list>.navigation__list__element:last-child {
    margin-left: auto;
}

.navigation__dropdown__label {
    color: black;
    text-decoration: none;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.navigation__dropdown__label:hover {
    color: var(--color-tertiary);
    fill: var(--color-tertiary);
}

.navigation__dropdown {
    position: relative;
}

.navigation__dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.navigation__dropdown__checkbox {
    display: none;
}

.navigation__dropdown__submenu {
    list-style: none;
    position: absolute;
    visibility: hidden;
    display: block;
    opacity: 0%;
    background-color: var(--color-primary);
    border-top: 0.5rem solid var(--color-secondary);
    top: 2.4rem;
    transition: all 0.2s;
    width: 130%;
}

.navigation__dropdown__submenu li {
    padding: 0.5rem 0;
    margin: 0 2rem;
}

.navigation__dropdown__checkbox:checked~ul.navigation__dropdown__submenu {
    visibility: visible;
    opacity: 100%;
}

.navigation__link {
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.2s;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: var(--color-tertiary);
}

.hero {
    background-image: url('../images/The_School_of_Athens.jpg');
    min-height: 40rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 2rem 10vw;
    font-size: 2rem;
}

section {
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    padding: 2rem 0;
}

footer {
    font-size: 1.4rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-top: 0.5rem solid var(--color-secondary);
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: var(--color-primary);
}

@media only screen and (max-width: 1366px) {
    .hero {
        background-attachment: scroll;
    }
}